---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>valen's blog</title>
  </head>
  <body>
    <main class="page-shell home">
      <div class="page-header">
        <h1>valen's super duper cool blog</h1>
        <p class="tagline">astro is really cool!!</p>
        <a href="/posts" class="posts-link">see posts</a>
      </div>
    </main>
    <script src="/oneko/oneko.js" data-cat="/oneko/oneko.gif" is:inline
    ></script>
  </body>
</html>
